<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Variables -->
    <springProperty scope="context" name="logPath" source="logging.file.path"  />
    <timestamp key="appTimestamp" datePattern="yyyy-MM" />

    <!-- Console -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- Monthly Log -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logPath:-logs}/NotesApp_${appTimestamp}.log</file>
        <encoder>
            <pattern>%d [%thread] --- %-5level %-50logger{40}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="Console" />
    </root>

</configuration>